services:
  sidepp_digital:
    image: ghcr.io/gustavo180591/sidepp-digital:latest
    container_name: sidepp_digital_prod
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - /root/apps/sidepp-digital/data:/data
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - sidepp

networks:
  sidepp:
    external: true
